/* Import de la fuente, he tenido que traerme de 100 a 900 porque no he encontrado la opcion para elegir solo 2 */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

/* Estilos para resetear estilos */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Work Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  color: black;
}

a {
  text-decoration: none;
}

/* Estilo para el fondo de la pagina principal */
.inicio {
  width: 100vw;
  height: 100vh;
  background-image: url("../img/home-hero.jpg");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.inicio a:hover {
  color: #6bdec8;
}

/* Estilos enlaces de navegacion en la pagina de inicio */
.inicio__nav {
  text-align: center;
  padding-top: 30px;
  display: flex;
  justify-content: space-around;
  width: 250px;
  margin: 0 auto;
  font-size: 14px;
}
.inicio__nav-enlace {
  color: white;
}

/* Estilos para el header de la pagina de inicio */

.inicio__header {
  color: white;
  text-align: center;
  font-weight: 700;
}
.inicio__header-logo {
  width: 45px;
  height: 45px;
}
.inicio__header-titulo {
  font-size: 80px;
  letter-spacing: -5px;
}
.inicio__header-subtitulo {
  font-size: 20px;
  letter-spacing: 4px;
}

/* Estilos del footer en la pagina de inicio */

.inicio__footer {
  text-align: center;
  font-weight: 400;
  padding-bottom: 20px;
}

.inicio__footer-enlace {
  color: white;
}

.legal {
  font-size: 11px;
  display: flex;
  justify-content: space-around;
  width: 325px;
  margin: 0 auto;
  padding-bottom: 20px;
}

/* .inicio__footer-legal {
  font-size: 11px;
  display: flex;
  justify-content: space-around;
  width: 325px;
  margin: 0 auto;
  padding-bottom: 20px;
} */

.inicio__footer-creador {
  color: white;
  font-size: 9px;
  padding-bottom: 5px;
}

.inicio__footer-creditos {
  font-size: 9px;
}

/* Aqui empiezan los estilso generales y para el resto de paginas */

.header {
  background-color: #000000;
}

.header__logo-titulo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 15px;
}

.header__titulo {
  font-size: 35px;
  color: white;
  letter-spacing: -3px;
}

.header__titulo a {
  color: white;
}

.logo {
  margin-right: 15px;
  width: 25px;
  height: 25px;
}

.header__nav {
  text-align: center;
  padding-top: 5px;
  padding-bottom: 50px;
  display: flex;
  justify-content: space-around;
  width: 250px;
  margin: 0 auto;
  font-size: 12px;
}

.header__nav-enlace {
  color: white;
}

.header__nav-enlace:hover {
  color: #6bdec8;
}

.legal--compartido {
  margin: 0;
  width: 400px;
  justify-content: space-between;
  padding-top: 15px;
}

.creador {
  color: white;
  font-size: 10px;
  padding-bottom: 45px;
}

.legal__enlace {
  color: white;
}

.legal__enlace--compartido {
  font-size: 14px;
}

.footer {
  background-color: #000000;
}

.footer__container {
  width: 60%;
  margin: 0 auto;
}

.container {
  width: 60%;
  margin: 0 auto;
  min-height: 80vh;
}

.activa {
  text-decoration: underline;
  text-decoration-thickness: 2px; /* Cambia el grosor del subrayado */
  text-underline-offset: 10px; /* Cambia la distancia del subrayado al texto */
}

/* Estilos de pagina que-es-la-ceramica */
.article__header--titulo {
  text-align: center;
  padding: 35px;
}

.article__header--subtitulo {
  padding-bottom: 35px;
  line-height: 18px;
  font-size: 12px;
}

.youtube-video-inserted {
  text-align: center;
}

.youtube-video-inserted figcaption {
  padding-top: 3px;
  padding-right: 290px;
  font-size: 10px;
}
