/* Import de la fuente, he tenido que traerme de 100 a 900 porque no he encontrado la opcion para elegir solo 2 */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

/* Estilos para resetear estilos */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Work Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  color: black;
}

a {
  text-decoration: none;
}

/* Estilo para el fondo de la pagina principal */
.inicio {
  width: 100vw;
  height: 100vh;
  background-image: url("../img/home-hero.jpg");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.inicio a:hover {
  color: #6bdec8;
}

/* Estilos enlaces de navegacion en la pagina de inicio */
.inicio__nav {
  text-align: center;
  padding-top: 30px;
  display: flex;
  justify-content: space-around;
  width: 250px;
  margin: 0 auto;
  font-size: 14px;
}
.inicio__nav-enlace {
  color: white;
}

.inicio__nav-enlace:hover {
}

/* Estilos para el header de la pagina de inicio */

.inicio__header {
  color: white;
  text-align: center;
  font-weight: 700;
}
.inicio__header-logo {
  width: 45px;
  height: 45px;
}
.inicio__header-titulo {
  font-size: 80px;
  letter-spacing: -5px;
}
.inicio__header-subtitulo {
  font-size: 20px;
  letter-spacing: 4px;
}

/* Estilos del footer en la pagina de inicio */

.inicio__footer {
  text-align: center;
  font-weight: 400;
  padding-bottom: 20px;
}

.inicio__footer-enlace {
  color: white;
}

.inicio__footer-legal {
  font-size: 11px;
  display: flex;
  justify-content: space-around;
  width: 325px;
  margin: 0 auto;
  padding-bottom: 20px;
}

.inicio__footer-creador {
  color: white;
  font-size: 9px;
  padding-bottom: 5px;
}

.inicio__footer-creditos {
  font-size: 9px;
}
