/* Import de la fuente, he tenido que traerme de 100 a 900 porque no he encontrado la opcion para elegir solo 2 */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

/* Estilos para resetear estilos */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Work Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  color: black;
}

a {
  text-decoration: none;
}

/* Estilo para el fondo de la pagina principal */
.inicio {
  width: 100vw;
  height: 100vh;
  background-image: url("../img/home-hero.jpg");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.inicio a:hover {
  color: #6bdec8;
}

/* Estilos enlaces de navegacion en la pagina de inicio */
.inicio__nav {
  text-align: center;
  padding-top: 30px;
  display: flex;
  justify-content: space-around;
  width: 250px;
  margin: 0 auto;
  font-size: 14px;
}
.inicio__nav-enlace {
  color: white;
}

/* Estilos para el header de la pagina de inicio */

.inicio__header {
  color: white;
  text-align: center;
  font-weight: 700;
}
.inicio__header-logo {
  width: 45px;
  height: 45px;
}
.inicio__header-titulo {
  font-size: 80px;
  letter-spacing: -5px;
}
.inicio__header-subtitulo {
  font-size: 20px;
  letter-spacing: 4px;
}

/* Estilos del footer en la pagina de inicio */

.inicio__footer {
  text-align: center;
  font-weight: 400;
  padding-bottom: 20px;
}

.inicio__footer-enlace {
  color: white;
}

.legal {
  font-size: 11px;
  display: flex;
  justify-content: space-around;
  width: 325px;
  margin: 0 auto;
  padding-bottom: 20px;
}

.inicio__footer-creador {
  color: white;
  font-size: 9px;
  padding-bottom: 5px;
}

.inicio__footer-creditos {
  font-size: 9px;
}

/* Aqui empiezan los estilso generales y para el resto de paginas */

.header {
  background-color: #000000;
}

.header__logo-titulo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 15px;
  /* el margin para que me centre mas el titulo solo y no logo + titulo */
  margin-right: 30px;
}

.header__titulo {
  font-size: 35px;
  color: white;
  letter-spacing: -3px;
}

.header__titulo a {
  color: white;
}

.logo {
  margin-right: 15px;
  width: 25px;
  height: 25px;
}

.header__nav {
  text-align: center;
  padding-top: 5px;
  padding-bottom: 50px;
  display: flex;
  justify-content: space-around;
  width: 250px;
  margin: 0 auto;
  font-size: 12px;
}

.header__nav-enlace {
  color: white;
}

.header__nav-enlace:hover {
  color: #6bdec8;
}

.legal--compartido {
  margin: 0;
  width: 400px;
  justify-content: space-between;
  padding-top: 15px;
}

.creador {
  color: white;
  font-size: 10px;
  padding-bottom: 45px;
}

.legal__enlace {
  color: white;
}

.legal__enlace--compartido {
  font-size: 14px;
}

.footer {
  background-color: #000000;
}

.footer__container {
  width: 60%;
  margin: 0 auto;
}

.container {
  width: 60%;
  margin: 0 auto;
  min-height: 80vh;
}

.activa {
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 10px;
}

/* Estilos de pagina que-es-la-ceramica */
.article__header--titulo {
  text-align: center;
  padding: 35px;
}

.article__header--subtitulo {
  padding-bottom: 35px;
  line-height: 18px;
  font-size: 12px;
}

.youtube-video-inserted {
  text-align: center;
}

.youtube-video-inserted figcaption {
  padding-top: 3px;
  font-size: 8px;
  text-align: left;
}

.article__section--titulo {
  margin-top: 25px;
  margin-bottom: 8px;
}

.aticle__section-parrafo {
  margin: 0.75rem 0;
  font-size: 12px;
  line-height: 18px;
}

.article__section-lista-desordenada {
  font-size: 12px;
  margin-left: 30px;
}

.article__section-lista-desordenada li {
  margin-bottom: 10px;
}

.article__section-lista-definicion {
  margin: 20px 30px;
}

.article__section-lista-definicion dt {
  font-weight: 700;
  margin: 10px 0;
  font-size: 18px;
}

.article__section-lista-definicion dd {
  margin-left: 30px;
  font-size: 12px;
  line-height: 18px;
}

.article__footer {
  margin-bottom: 40px;
}

.article__footer-texto {
  font-size: 10px;
}

.article__footer-enlace {
  color: #942c0b;
  border-bottom: 1px dotted #942c0b;
}

.article__footer-enlace:hover {
  border-bottom: 1px solid #942c0b;
}

/* Pagina cursos */

.article__header {
  width: 70%;
  margin: 30px auto;
  text-align: center;
}

.article__header span {
  font-weight: 700;
  font-size: 35px;
}

.article__header-figure {
  text-align: center;
}

.article__header-figure-img {
  display: block;
  width: 100%;
  height: auto;
  margin: 30px auto;
}

.article__header-figure-texto {
  text-align: left;
  font-size: 12px;
  margin-top: -30px;
  margin-bottom: 30px;
}

.container a {
  color: #942c0b;
  border-bottom: 1px dotted #942c0b;
}

.container a:hover {
  border-bottom: 1px solid #942c0b;
}

.article__header-subtitulo {
  font-size: 18px;
  font-weight: 700;
  text-align: left;
  letter-spacing: 0.1px;
  word-spacing: 5px;
}

/* Estilos tabla */

.article__table {
  width: 100%;
  margin: 30px 0;
  border-collapse: collapse;
}

.article__table-titulo {
  text-align: center;
  font-weight: 400;
  font-size: 16px;
}

.article__table--resaltado {
  font-weight: 700;
  font-size: 15px;
}

.article__table tfoot td {
  font-size: 10px;
  border-bottom: 1px solid #ccc;
}

th,
td {
  padding: 8px;
  text-align: left;
  border: none;
  font-size: 12px;
  font-weight: 400;
}
tbody tr:nth-child(odd) {
  background-color: #6bdec8;
}
tr {
  border-top: 1px solid #ccc;
}

/* Estilos formulario */

.contenedor-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}

.form-advertencia {
  font-size: 10px;
  margin-top: 20px;
}

form {
  width: 80%;
}

.form-fila-detalles {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.form-grupo-detalles {
  flex: 0 0 48%;
}

label {
  display: block;
  margin-bottom: 5px;
  font-size: 12px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="date"],
select {
  width: 100%;
  padding: 8px;
  border: 1px solid black;
}

fieldset {
  border: 1px solid black;
  padding: 20px;
  margin-top: 20px;
}

legend {
  font-size: 1em;
  font-weight: bold;
}

.radio-grupo {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 12px;
  margin-bottom: 13px;
}
.radio-grupo label {
  margin: 0;
}

.text-area-grupo {
  margin: 15px 0px;
}

#texto-area {
  width: 100%;
  height: 200px;
  resize: none;
  margin-top: 10px;
  padding: 10px;
}

.informacion-privacidad {
  margin: 20px 0;
  font-size: 12px;
  line-height: 18px;
}

.aceptar-politica {
  display: flex;
  gap: 4px;
  margin-bottom: 20px;
}

.btn-enviar {
  padding: 10px 15px;
  color: white;
  background-color: #942c0b;
  border: none;
  margin-bottom: 30px;
  font-size: 13px;
  cursor: pointer;
  transition: box-shadow 0.3s ease;
}

.btn-enviar:hover {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}
